<body>
    <div class="barra">
        <div class="logo">
            <img src="./assets/images/Club Creativo Logo Blanco.png">
        </div>
        <div class="botones">
            <div class="boton" (click)= "redirigir('/inicio')">
                Inicio
            </div>
            <div class="boton" (click)= "redirigir('/nosotros')">
                Solicitudes
            </div>
            <div class="boton" (click)= "redirigir('/preguntas')">
                Administradores
            </div>
        </div>
    </div>

    <div class="contenido">
        <div class="titulo">
            Solicitudes Pendientes
        </div>
        <div class="solicitudes">
            <ng-template ngFor let-obj [ngForOf]="solicitudes" ; let-i="index">
                <div class="card">
                    <div class="bloque">
                        <div class="texto">Emprendimiento: {{obj.Nombre}}</div>
                        <div class="texto">Lugar: {{obj.Distrito}}, {{obj.Canton}}, {{obj.Provincia}}</div>
                        <div class="texto">Tipo de negocio: {{obj.Tipo}}</div>
                    </div>
                    <div class="bloque">
                        <div class="texto">Teléfono: {{obj.Telefono}}</div>
                        <div class="texto">SINPE: {{obj.Sinpe}}</div>
                        <div class="texto">Correo: {{obj.Correo}}</div>
                    </div>
                    <div class="bloque">
                        <button class="aceptar-bttn" (click)="aceptarSolicitud(obj)"> Aceptar </button>
                        <button class="rechazar-bttn" (click)="rechazarSolicitud(obj)"> Rechazar </button>
                    </div>
                </div>
            </ng-template>
        </div>
       
    </div>
    
</body>