<body>
    <div class="barra">
        <div class="logo">
            <img src="./assets/images/Club Creativo Logo Blanco.png">
        </div>
        <div class="botones">
            <div class="boton" (click)= "redirigir('/inicio')">
                Inicio
            </div>
            <div class="boton" (click)= "redirigir('/solicitudes')">
                Solicitudes
            </div>
            <div class="boton" (click)= "redirigir('/administradores')">
                Administradores
            </div>
            <div class="boton" (click)= "redirigir('/gestion-preguntas')">
                Preguntas
            </div>
        </div>
    </div>

    <div class="contenido">
        <div class="titulo">
            Administradores
        </div>

        
        
    </div>


    

</body>