<body>
    <div class="contenido">
        <div class="titulo">
            Administradores Activos
        </div>
        <button class="info-button" (click)="redirigir('/nuevo-admin')"> Agregar Nuevo Administrador</button>

        <div class="admins">
            <ng-template ngFor let-obj [ngForOf]="admins" ; let-i="index">
                <div class="card">
                    <div class="bloque">
                        <div class="texto">Cédula: {{obj.IdAdmin}}</div>
                        <div class="texto">UserName: {{obj.Username}}</div>
                    </div>
                    <div class="bloque">
                        <div class="texto">Nombre: {{obj.FirstName}}</div>
                        <div class="texto">Apellido: {{obj.LastName}}</div>
                    </div>
                    <div class="bloque">
                        <button type="button" class="rechazar-bttn" (click) = "eliminarAdministrador(obj.IdAdmin)">Eliminar</button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    
</body>