<div id="home" class="main-banner banner-style-three banner-bg-five">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-text">
                            <h1>REgistro de nuevo Administrador</h1>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form class="newsletter-form">
                            <input type="text" class="form-control" placeholder="Nombre" name="Nombre" [(ngModel)]="objeto.FirstName" required>
                            <button class="texto" type="submit">Nombre</button>
                        </form>
                        
                        <form class="newsletter-form">
                            <input type="text" class="form-control" placeholder="Apellido" name="Apellido" [(ngModel)]="objeto.LastName" required>
                            <button class="texto" type="submit">Apellido</button>
                        </form>


                        <form class="newsletter-form">
                            <input type="number" class="form-control" placeholder="Número de Cédula" name="IdEmprendimiento" [(ngModel)]="objeto.IdAdmin">
                            <button class="texto" type="submit">Número de Cédula</button>
                        </form>
                        
                        <form class="newsletter-form">
                            <input type="text" class="form-control" placeholder="Nombre de Usuario" name="Usuario" [(ngModel)]="objeto.Username" required>
                            <button class="texto" type="submit">Nombre de Usuario</button>
                        </form>
                        
                        <form class="newsletter-form">
                            <input type="password" class="form-control" placeholder="Contraseña" name="Pass" [(ngModel)]="objeto.Password" required>
                            <button class="texto" type="submit">Contraseña</button>
                        </form>
                        
                        <form class="newsletter-form">
                            <input type="password" class="form-control" placeholder="Confirmar Contraseña" name="Pass" [(ngModel)]="confirm" required>
                            <button class="texto" type="submit">Confirmar Contraseña</button>
                        </form>
                    
    
                        <div class="banner-btn">
                            <a (click)="guardar()">Agregar</a>
                            <a (click)="redirigir('/dashboard-admin')">Cancelar</a>
                        </div>

                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>