<body>
    <div class="contenido">
        <div class="titulo">
            Tus Emprendimientos
        </div>
        <button class="info-button" (click)="redirigir('/nuevo-emprendimiento')"> Agregar Nuevo Emprendimiento</button>

        <div class="admins">
            <ng-template ngFor let-obj [ngForOf]="emprendimientos" ; let-i="index">
                <div class="card">
                    <div class="bloque">
                        <div class="texto">Usuario: {{obj.IdEntrepreneurship}}</div>
                    </div>
                    <div class="bloque" *ngIf="obj.state =='Aceptado'">
                        <button type="button" class="info-button" (click) = "ingresarEmprendimeinto(obj.IdEntrepreneurship)">Cambiar de Cuenta</button>
                    </div>
                    <div class="bloque" *ngIf="obj.state =='Pendiente'">
                        <button type="button" class="aceptar-bttn" (click) = "aceptarSolicitud(obj.IdEntrepreneurship)">Aceptar Solicitud</button>
                        <button type="button" class="rechazar-bttn" (click) = "rechazarSolicitud(obj.IdEntrepreneurship)">Rechazar Solicitud</button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    
</body>