<body>
    <div class="barra">
        <div class="logo">
            <img src="./assets/images/Club Creativo Logo Blanco.png">
        </div>
        <div class="botones">
            <div class="boton" (click)= "redirigir('/inicio')">
                Inicio
            </div>
            <div class="boton" (click)= "redirigir('/nosotros')">
                Sobre Nosotros
            </div>
            <div class="boton" (click)= "redirigir('/preguntas')">
                Preguntas
            </div>
            <div class="boton" (click)= "redirigir('/registrarse')">
                Registrarse
            </div>
        </div>
    </div>

    <div class="contenido">
        <div class="titulo">
            Preguntas Frecuentes
        </div>
        <div class="preguntas">

            <ng-template ngFor let-obj [ngForOf]="preguntas" ; let-i="index">
                <div class="card">
                    <div class="pregunta"> 
                        <div class="texto"> {{obj.Question1}}</div>
                    </div>
                    <div class="respuesta"> 
                        <div class="texto"> {{obj.Answer}}</div>
                    </div>
                </div>
            </ng-template>
        </div>
       
    </div>
    
</body>