<body>

    <div class="contenido">
        <div class="titulo">
            Preguntas Frecuentes
        </div>
        <div class="preguntas">

            <ng-template ngFor let-obj [ngForOf]="preguntas" ; let-i="index">
                <div class="card">
                    <div class="pregunta"> 
                        <div class="texto"> {{obj.Question1}}</div>
                    </div>
                    <div class="respuesta"> 
                        <div class="texto"> {{obj.Answer}}</div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</body>