#barraAdmin{
    background-image: 
        linear-gradient(
            rgba(255, 255, 255, 0.51), 
            rgba(255, 255, 255, 0.51)), 
        linear-gradient(#DC93E5, #DC93E5);
}

#barraCliente{
    background-image: 
        linear-gradient(
            rgba(255, 255, 255, 0.51), 
            rgba(255, 255, 255, 0.51)), 
        linear-gradient(#47B3B0, #47B3B0);

}

#barraRepartidor{
    background-image: 
        linear-gradient(
            rgba(255, 255, 255, 0.51), 
            rgba(255, 255, 255, 0.51)), 
        linear-gradient(#96C6FF, #96C6FF);
    
}

#barraEmprendimiento{
    background-image: 
        linear-gradient(
            rgba(255, 255, 255, 0.51), 
            rgba(255, 255, 255, 0.51)), 
        linear-gradient(#66C078, #66C078);

}