<div class="barra" id= "barraGeneral" *ngIf="unregistered">
  <div class="logo">
    <img src="./assets/images/Club Creativo Logo Blanco.png" />
  </div>
  <div class="botones">
    <div class="boton" (click)="redirigir('/inicio')">Inicio</div>
    <div class="boton" (click)="redirigir('/nosotros')">Sobre Nosotros</div>
    <div class="boton" (click)="redirigir('/preguntas')">Preguntas</div>
    <div class="boton" (click)="redirigir('/ingresar')">Ingresar</div>
  </div>
</div>

<div class="barra" id= "barraAdmin" *ngIf="this.rol.Type == 'ADMIN'">
  <div class="logo">
    <img src="./assets/images/Club Creativo Logo Blanco.png" />
  </div>
  <div class="botones">
    <div class="boton" (click)="redirigir('/inicio')">Inicio</div>
    <div class="boton" (click)="redirigir('/solicitudes')">Solicitudes</div>
    <div class="boton" (click)="redirigir('/administradores')">Administradores</div>
    <div class="boton" (click)="redirigir('/gestion-preguntas')">Preguntas</div>
    <div class="boton" (click)="logOut()">Salir</div>
  </div>
</div>

<div class="barra" id= "barraEmprendimiento" *ngIf="this.rol.Type == 'EMPRENDIMIENTO'">
  <div class="logo">
    <img src="./assets/images/Club Creativo Logo Blanco.png" />
  </div>
  <div class="botones">
    <div class="boton" (click)="redirigir('/inicio')">Inicio</div>
    <div class="boton" (click)="redirigir('/nosotros')">Sobre Nosotros</div>
    <div class="boton" (click)="redirigir('/preguntas')">Preguntas</div>
    <div class="boton" (click)="redirigir('/registrarse')">Registrarse</div>
    <div class="boton" (click)="logOut()">Salir</div>
  </div>
</div>

<div class="barra" id= "barraCliente" *ngIf="this.rol.Type == 'CLIENTE'">
    <div class="logo">
      <img src="./assets/images/Club Creativo Logo Blanco.png" />
    </div>
    <div class="botones">
      <div class="boton" (click)="redirigir('/inicio')">Inicio</div>
      <div class="boton" (click)="redirigir('/nosotros')">Sobre Nosotros</div>
      <div class="boton" (click)="redirigir('/preguntas')">Preguntas</div>
      <div class="boton" (click)="redirigir('/registrarse')">Registrarse</div>
      <div class="boton" (click)="logOut()">Salir</div>
    </div>
  </div>

  <div class="barra" id= "barraRepartidor" *ngIf="this.rol.Type == 'REPARTIDOR'">
    <div class="logo">
      <img src="./assets/images/Club Creativo Logo Blanco.png" />
    </div>
    <div class="botones">
      <div class="boton" (click)="redirigir('/inicio')">Inicio</div>
      <div class="boton" (click)="redirigir('/nosotros')">Sobre Nosotros</div>
      <div class="boton" (click)="redirigir('/preguntas')">Preguntas</div>
      <div class="boton" (click)="redirigir('/registrarse')">Registrarse</div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>