<div class="barra" id= "barraGeneral" *ngIf="unregistered">
  <div class="logo">
    <img src="./assets/images/Club Creativo Logo Blanco.png" />
  </div>
  <div class="botones">
    <div class="boton" (click)="redirigir('/inicio')">Inicio</div>
    <div class="boton" (click)="redirigir('/nosotros')">Sobre Nosotros</div>
    <div class="boton" (click)="redirigir('/preguntas')">Preguntas</div>
    <div class="boton" (click)="redirigir('/ingresar')">Ingresar</div>
  </div>
</div>

<div class="barra" id= "barraAdmin" *ngIf="this.rol.Type == 'ADMIN'">
  <div class="logo">
    <img src="./assets/images/Club Creativo Logo Blanco.png" />
  </div>
  <div class="botones">
    <div class="boton" (click)="redirigir('/inicio')">Inicio</div>
    <div class="boton" (click)="redirigir('/solicitudes')">Solicitudes</div>
    <div class="boton" (click)="redirigir('/administradores')">Administradores</div>
    <div class="boton" (click)="redirigir('/gestion-preguntas')">Preguntas</div>
    <div class="boton" (click)="logOut()">Salir</div>
  </div>
</div>

<div class="barra" id= "barraEmprendimiento" *ngIf="this.rol.Type == 'EMPRENDIMIENTO'">
  <div class="logo">
    <img src="./assets/images/Club Creativo Logo Blanco.png" />
  </div>
  <div class="botones">
    <div class="boton" (click)="redirigir('/inicio')">Inicio</div>
    <div class="boton" (click)="redirigir('/emprendimiento-perfil')">Perfil</div>
    <div class="boton" >Mis talleres</div>
    <div class="boton" (click)="volverCuenta()">Volver a Cliente</div>
  </div>
</div>

<div class="barra" id= "barraCliente" *ngIf="this.rol.Type == 'CLIENTE'">
    <div class="logo">
      <img src="./assets/images/Club Creativo Logo Blanco.png" />
    </div>
    <div class="botones">
      <div class="boton" (click)="redirigir('/inicio')">Inicio</div>
      <div class="boton" (click)="redirigir('/cliente-perfil')">Perfil</div>
      <div class="boton" >Pedidos</div>
      <div class="boton" >Talleres</div>
      <div class="boton" (click)="redirigir('/cliente-emprendimientos')">Tus Emprendimientos</div>
      <div class="boton" (click)="logOut()">Salir</div>
    </div>
  </div>

  <div class="barra" id= "barraRepartidor" *ngIf="this.rol.Type == 'REPARTIDOR'">
    <div class="logo">
      <img src="./assets/images/Club Creativo Logo Blanco.png" />
    </div>
    <div class="botones">
      <div class="boton" (click)="redirigir('/inicio')">Inicio</div>
      <div class="boton" (click)="redirigir('/repartidor-perfil')">Perfil</div>
      <div class="boton" >Pedidos</div>
      <div class="boton" (click)="logOut()">Salir</div>
    </div>
  </div>