<footer class="footer-area">
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-4 lh-1">
                    <img src="assets/img/facebook.png" alt="fb">
                    <img src="assets/img/instagram.png" alt="instagram">
                    <img src="assets/img/whatsapp.png" alt="whatsapp">
                </div>
                <div class="col-lg-6 col-md-8 lh-1">
                    <p>Creado por Valeria Flores, Mauro Alvarado, Roy Zamora </p>
                </div>
            </div>
        </div>
    </div>
</footer>