<body>
    <div class="titulo">Registro de Cliente</div>
    <div class="campo">
      <label for="IdCliente" class="texto">Número de Cédula:</label>
      <input type="number" id="IdCliente" name="IdCliente" [(ngModel)] = "objeto.IdClient"/>
    </div>
    <div class="campo">
      <label for="Usuario" class="texto">Nombre de Usuario:</label>
      <input type="text" id="Usuario" name="Usuario" [(ngModel)] = "objeto.Username" required>
    </div>
  
    <div class="campo">
      <label for="Pass" class="texto">Contraseña:</label>
      <input type="password" id="Pass" name="Pass" [(ngModel)] = "objeto.Password" required>
    </div>
    <div class="campo">
      <label for="Pass" class="texto">Confirmar Contraseña:</label>
      <input type="password" id="Pass" name="Pass" [(ngModel)] = "confirm" required>
    </div>
    <div class="campo" *ngIf="confirm && objeto.Password !== confirm">Las contraseñas no coinciden</div>
  
    <div class="campo">
      <label for="Nombre" class="texto">Nombre:</label>
      <input type="text" id="Nombre" name="Nombre" [(ngModel)] = "objeto.FirstName" required>
    </div>
    <div class="campo">
        <label for="Telefono" class="texto">Teléfono:</label>
        <input type="tel" id="Telefono" name="Telefono" [(ngModel)] = "objeto.Phone" required>
      </div>
  
    <div class="campo">
      <label for="Apellido" class="texto">Apellido:</label>
      <input type="text" id="Apellido" name="Apellido" [(ngModel)] = "objeto.LastName" required>
    </div>
      
    <div class="campo">
      <label for="Provincia" class="texto">Provincia:</label>
      <select class="form-select" id="provincia" [(ngModel)]="objeto.Province" name="provincia" (click)="selected()">
        <ng-template ngFor let-obj [ngForOf] = "provincias"; let-i="index">
          <option [value] ="obj.Name">{{obj.Name}}</option>
        </ng-template>
      </select>
    </div>
    <div class="campo">
      <label for="Canton" class="texto">Cantón:</label>
      <select class="form-select" id="canton" [(ngModel)]="objeto.Canton" name="Canton" (click)="selectedcant()">
        <ng-template ngFor let-obj [ngForOf] = "cantones"; let-i="index">
          <option [value] ="obj.Name">{{obj.Name}}</option>
        </ng-template>
      </select>
    </div>
    <div class="campo">
      <label for="Distrito" class="texto">Distrito:</label>
      <select class="form-select" id="Distrito" [(ngModel)]="objeto.District" name="distrito">
        <ng-template ngFor let-obj [ngForOf] = "distritos"; let-i="index">
          <option [value] ="obj.Name">{{obj.Name}}</option>
        </ng-template>
      </select>
    </div>
  
    <div class="buton">
      <button type="submit" class= "aceptar-bttn" (click)="guardar()">Enviar</button>
  </div>
  </body>
  