body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 93vh;
    background: #DC93E5;
}

.card-formulario{
    width: 80%;
    padding: 5% 5%;
}



textarea{
    width: 100%;
    padding: 2%;
    border-radius: 43px;
    text-align: center;
}

#respuestaInput, #preguntaInput{
    aspect-ratio: 1/1;
}
