<body>
    <div class="barra">
        <div class="logo">
            <img src="./assets/images/Club Creativo Logo Blanco.png">
        </div>
        <div class="botones">
            <div class="boton" (click)= "redirigir('/inicio')">
                Inicio
            </div>
            <div class="boton" (click)= "redirigir('/solicitudes')">
                Solicitudes
            </div>
            <div class="boton" (click)= "redirigir('/administradores')">
                Administradores
            </div>
            <div class="boton" (click)= "redirigir('/gestion-preguntas')">
                Preguntas
            </div>
        </div>
    </div>


    <div class="contenido">
        <div class="titulo">Modifica la Pregunta</div>
        <div class="card">
            <label class="texto" for="preguntaInput">Pregunta:</label>
            <input type="text" id="preguntaInput" placeholder="Ingrese su pregunta" [(ngModel)] = "objeto.Pregunta1">
        
            <label class="texto" for="respuestaInput">Respuesta:</label>
            <input type="text" id="respuestaInput" placeholder="Ingrese su respuesta" [(ngModel)] = "objeto.Respuesta">
        
            <div class="botones">
                <button class="aceptar-bttn" (click)="guardar()">Aceptar</button>
                <button class="rechazar-bttn" (click)="redirigir('/gestion-preguntas')">Cancelar</button>
            </div>
          </div>
    </div>
</body>