body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 93vh;
    background: #DC93E5;
}



input{
    width: 100%;
    border-radius: 43px;
    text-align: center;
}

#respuestaInput{
    aspect-ratio: 1/1;
}
