<div id="home" class="main-banner banner-style-three banner-bg-five">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-text">
                            <h1>Escoje tu de qué forma quieres crear una cuenta:</h1>
                            <div class="radio-cards">
                                <button type="button" class="card" [class.selected]="opcionSeleccionada === 'Cliente'" (click)="opcionSeleccionada = 'Cliente'">
                                    <h3>Cliente</h3>
                                </button>
                                <button type="button" class="card" [class.selected]="opcionSeleccionada === 'Repartidor'" (click)="opcionSeleccionada = 'Repartidor'">
                                    <h3>Repartidor</h3>
                                </button>
                            </div>
                            </div>
                        </div>
                    <div class="col-lg-6">
                        <ng-container *ngIf="opcionSeleccionada === ''">
                          </ng-container>
                          <ng-container *ngIf="opcionSeleccionada === 'Cliente'">
                            <app-nuevo-cliente></app-nuevo-cliente>
                        </ng-container>
                        <ng-container *ngIf="opcionSeleccionada === 'Repartidor'">
                          <app-nuevo-repartidor></app-nuevo-repartidor>
                      </ng-container>
                    </div>
                    
                </div>  
            </div>
        </div>
    </div>
</div>