<body>
    <div class="contenido">
        <div class="titulo">Ingresar</div>
        <div class="card-formulario">
            <div class="col">
                <div class="logo">
                    <img src="./assets/images/Club Creativo Logo.png" />
                </div>
            </div>
            <div class="col" id="campos">
                <input type="text" id="Usuario" name="Usuario" placeholder="Usuario" [(ngModel)]= usuario required>
                <input type="password" id="Pass" name="Pass" placeholder="Contraseña" [(ngModel)]= pass required>
                <button class="aceptar-bttn" (click)= "Ingresar()">Ingresar</button>

                <div id="crear-cuenta" (click)= "redirigir('/registrarse')" >¿No tienes cuenta? Crear una</div>
            </div>
        </div>
    </div>
</body>
