<div id="home" class="main-banner banner-style-three banner-bg-five">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-text">
                            <h1>¡Hola socio Repartidor!</h1>
                            <p>No olvides revisar tus entregas pendientes, contáctate con los emprendimientos para terminar tus entregas a tiempo.</p>
                            
                        </div>
                    </div>
                    
                </div>  
            </div>
        </div>
    </div>
</div>