/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
 
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Roboto';
    src: url('../src/assets/Roboto.ttf');
}

@font-face {
    font-family: 'Noto';
    src: url('../src/assets/NotoSansJP.ttf');
}


.barra{
    position: static;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.51);
}

.logo {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.botones{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boton{
    position: relative;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    color: white;
    font-family: 'Noto';
    cursor: pointer;
}


.boton:hover{
    transform: scale(1.1);
}



.titulo {
    text-align: center;
    font-family: 'Roboto';
    font-size: 10svh;
    color: white;
}


.subtitulo {
    text-align: center;
    font-family: 'Noto';
    font-size: 3svh;
    color: white;
}

button {
    border-radius: 43px;
    font-family: 'Noto';
    border: 0px;
    width: fit-content;
    padding: 10px 30px;
    align-self: center;
}

.contenido {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin-bottom: 1%;
    padding: 0% 4%;
    overflow-y: scroll;
}




button {
    padding: 2% 17%;
}



.aceptar-bttn{
    color: #179602;
    text-align: center;
    font-family: "Noto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 43px;
    border: 1px solid #179602;
    background-color: white;
}


.aceptar-bttn:hover{
    color: white;
    text-align: center;
    font-family: "Noto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 43px;
    border: 1px solid #179602;
    background-color: #179602;
}

.rechazar-bttn {
    border: 1px solid #DE2B2B;
    background-color: white;
    color: #DE2B2B;
    text-align: center;
    font-family: "Noto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 43px;
    
}

.rechazar-bttn:hover {
    border: 1px solid #DE2B2B;
    background-color: #DE2B2B;
    color: white;
    text-align: center;
    font-family: "Noto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 43px;
    
}



.editar-bttn {
    color: #20207b;
    text-align: center;
    font-family: "Noto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 43px;
    border: 1px solid #20207b;
    background-color: white;
}

.editar-bttn:hover {
    color: white;
    text-align: center;
    font-family: "Noto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 43px;
    border: 1px solid #20207b;
    background-color: #20207b;
}

.card-formulario{
    align-self: center;
    align-items: center;
    font-family: 'Noto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    width: 50%;
    height: 70%;
    padding: 5% 10%;
    border-radius: 43px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
}





.texto {
    font-family: 'Roboto';
    position: relative;
    text-align: center;
}