<body>
  <div class="leftbar">
    <div class="radio-cards">
      
      <label>
        <input type="radio" name="card" value="Cliente" [(ngModel)]="opcionSeleccionada" />
        <div class="card">
          <h3>Cliente</h3>
        </div>
      </label>
      <label>
        <input type="radio" name="card" value="Repartidor" [(ngModel)]="opcionSeleccionada" />
        <div class="card">
          <h3>Repartidor</h3>
        </div>
      </label>
      
    </div>
  </div>

  <div class="formulario">
    <ng-container *ngIf="opcionSeleccionada === ''">
      <div class="titulo">
        Selecciona un Rol para Registrarte
      </div>
    </ng-container>
    <ng-container *ngIf="opcionSeleccionada === 'Cliente'">
      <app-formulario-cliente></app-formulario-cliente>
  </ng-container>
  <ng-container *ngIf="opcionSeleccionada === 'Repartidor'">
    <app-formulario-repartidor></app-formulario-repartidor>
</ng-container>
  </div>
</body>
